* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#list-example {
    padding: 20px;
}

element.style {
    border-top-width: 52px;
    margin-top: 25px;
}

.needs-validation {
    width: 600px;
}

.form-compo {
    width: 12000px;
    margin: 50px;
}

.formulario_marcas,
.container-fluid {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}

.conenedor-imagenes {
    margin-top: 30px;
}